@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --main-color: #49C5B6;

}
*{
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}
section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
#menuBtn{
    display: none;
}
.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: #49c5b756;
    box-shadow: 0,0,0,.2rem;
    z-index: 1000;
}
.header .logo-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.header .logo-section .navbar a{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 5rem;
}
.header .logo-section .navbar a:hover{
    background-color: #49c5b732;
    font-weight: 100;
}
.hero-container{
    background: url(../images/home-bg-image.jpg),rgba(0,0,0,.7) no-repeat;
    background-size: cover;
    background-position: bottom;
      
}
.hero-container .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container .home form{
    background-color: whitesmoke;
    width: 50rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.hero-container .home form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.hero-container .home form p{
    text-align: left;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.hero-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    padding: 1.3rem;
    font-size: 1.5rem;
    color: black;
}
.hero-container .home form .btn{
    padding: 1.5rem;
    border-radius: .5rem;
}
.hero-container .home form .btn:hover{
    background-color: #49C5B6;
    cursor: pointer;

}
/*category section*/
.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
}
.category .cat-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start ;
    gap: 1.5rem
}
.category .cat-container .box{
    border: #49c5b755 solid;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}
.category .cat-container .box h3{
    font-size: 1.9rem;
}
.category .cat-container .box span{
    font-size: 1.5rem;
}
.category .cat-container .box:hover{
    background-color: #49c5b723;
    transition: 5ms;
}
/*latest jobs*/
.jobs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.jobs-container .box-container .box{
    border-radius: .5rem;
    border: #49C5B6 solid;
    padding: 2rem;
}
.jobs-container .box-container .box .company{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.jobs-container .box-container .box .company img{
    height: 7rem;
    width: 6rem;
    margin-bottom: 1.5rem;
}
.jobs-container .box-container .box .company h3{
    font-size: 1.8rem;

}
.jobs-container .box-container .box .company p{
    font-size: 1.6rem;
}
.jobs-container .box-container .box .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 0;
}
.flex-btn{
    display: flex;
    gap: 1.5rem;
    align-items: center;

}
.flex-btn a{
    font-size: 1.5rem;
}
.flex-btn button{
    border: none;
    background-color: none;
    cursor: pointer;
}
.flex-btn button:hover{
    background-color: #49c5b723;
}
.job-filter form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;

}
.job-filter form .flex .box{
    flex: 1 1 40rem;
}
.job-filter form .flex .box p{
    font-size: 1.6rem;
}
.job-filter form .flex span{
    color: red;
}
.job-filter form .flex .box .input{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    border: #49c5b755 solid;
    background-color: whitesmoke;
}
.job-filter form .dropdown-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.job-filter form .dropdown-container .dropdown{
    flex: 1 1 20rem;
    position: relative;
}
.job-filter form .dropdown-container .dropdown .output{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    border: #49c5b755 solid;
    background-color: whitesmoke;
    font-size: 1.6rem;
    user-select: none;
    cursor: pointer;
}
.job-filter form .dropdown-container .dropdown .lists{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    z-index: 10;
    transform: scaleY(0);
    transform-origin: top;
}
.job-filter form .dropdown-container .dropdown .lists .items{
    padding: 1.2rem 1.3rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.job-filter form .dropdown-container .dropdown .lists .items:hover{
    background-color: whitesmoke;
}
.job-filter form .dropdown-container .dropdown .lists:hover,
.job-filter form .dropdown-container .dropdown:hover .lists,
.job-filter form .dropdown-container .dropdown .output:focus + .lists,
.job-filter form .dropdown-container .dropdown .output:focus-within + .lists{
    transform: scaleY(1);
    transition: 1s linear;
}
.job-details .job-info{
    background-color: whitesmoke;
    border-radius: .5rem;
    border: #49c5b755 solid;
    padding: 2rem;
}
.job-details .job-info h3{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.job-details .job-info p{
    padding: 1rem 0;
    font-size: 1.6rem;
}
.job-details .job-info .basic-details{
    background-color: white;
    margin: 1.5rem 0;
    border-radius: .5rem;
    padding: 2rem;
}

/*contact us*/
.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.contact .box-container .box{
    background-color: whitesmoke;
    border: #49c5b755 solid;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.contact .box-container .box img{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 4.5rem;
    background-color: #49c5b755;
    border-radius: .5rem;
}
.contact .box-container .box a{
    display: block;
    padding-top: .5rem;
    font-size: 1.6rem;
}
.contact form{
    margin-top: 2rem;
    background-color: white;
    border: #49c5b755 solid;
    border-radius: .5rem;
    padding: 3rem 2rem;
    text-align: center;
}
.contact form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}
.contact form .flex .box{
    flex: 1 1 40rem;

}
.contact form .input{
    width: 100%;
    border-radius: .5rem;
    border: #49c5b755 solid;
    padding: 1.4rem;
    font-size: 1.6rem;
    background-color: whitesmoke;
    margin: 1rem 0;
}
.contact form p{
    text-align: left;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.contact form p span{
    color: red;
}
.contact form textarea{
    height: 15rem;
}
/*login.html*/
.account-form-container{
    background: url(/images/account-bg-image.jpg),rgba(0,0,0,.7) no-repeat;
    background-size: cover;
    background-position: bottom;
}
.account-form-container .account-form{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-form-container .account-form form{
    background-color: whitesmoke;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.account-form-container .account-form form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.account-form-container .account-form form .input{
    width: 100%;
    margin: 1rem 0;
    font-size: 1.6rem;
    padding: 1.4rem;
    border-radius: .5rem;
}
.account-form-container .account-form form p{
    padding: 1rem;
    font-size: 1.6rem;
}
.account-form-container .account-form form p a{
    color: #49C5B6;
}
.account-form-container .account-form form p a:hover{
    color: #49c5b755;
    text-decoration: underline;
}
.job-result{
    margin-right: 1rem 0;
}










/*footer*/
.footer .grid{
    display: flex;
    column-gap: 64px;
    justify-content: center;
    align-items: flex-start;
}
.footer .grid .box h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer .grid .box a{
    display: block;
    padding: 1rem 0;
    font-size: 1.6rem;

}
.footer .grid .box a:hover{
    cursor: pointer;
    font-weight: 300;
}
.footer .copy{
    text-align: center;
    background-color: #49C5B6;
    padding: 2rem;
    font-size: 1rem;
}


/*media queries*/
@media (max-width:991px){/*tablet*/
    html{
        font-size: 50%;
    }
}
@media (max-width:768px){/*tablet*/

    .category .cat-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer .grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-self: center;
    }
}
@media (max-width:480px){/*tablet*/
    html{
        font-size: 45%;
    }
}