@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --main-color: #49C5B6;

}
*{
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}
section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
#menuBtn{
    display: none;
}
.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: #49c5b756;
    box-shadow: 0,0,0,.2rem;
    z-index: 1000;
}
.header .logo-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.header .logo-section .navbar a{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 5rem;
}
.header .logo-section .navbar a:hover{
    background-color: #49c5b732;
    font-weight: 100;
}
.hero-container{
    background: url(/images/home-bg-image.jpg),rgba(0,0,0,.7) no-repeat;
    background-size: cover;
    background-position: bottom;
      
}
.hero-container .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container .home form{
    background-color: whitesmoke;
    width: 50rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.hero-container .home form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.hero-container .home form p{
    text-align: left;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.hero-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    padding: 1.3rem;
    font-size: 1.5rem;
    color: black;
}
.hero-container .home form .btn{
    padding: 1.5rem;
    border-radius: .5rem;
}
.hero-container .home form .btn:hover{
    background-color: #49C5B6;
    cursor: pointer;

}
/*category section*/
.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
}
.category .cat-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start ;
    gap: 1.5rem
}
.category .cat-container .box{
    border: #49c5b755 solid;
    border-radius: .5rem;
    padding: 2rem;
}






/*footer*/
.footer .grid{
    display: flex;
    column-gap: 64px;
    justify-content: center;
    align-items: flex-start;
}
.footer .grid .box h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer .grid .box a{
    display: block;
    padding: 1rem 0;
    font-size: 1.6rem;

}
.footer .grid .box a:hover{
    cursor: pointer;
    font-weight: 300;
}
.footer .copy{
    text-align: center;
    background-color: #49C5B6;
    padding: 2rem;
    font-size: 1rem;
}


/*media queries*/
@media (max-width:991px){/*tablet*/
    html{
        font-size: 50%;
    }
}
@media (max-width:768px){/*tablet*/
    #menuBtn{
        display: inline-block;
    }
    .header .logo-section .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;

    }
    .header .logo-section .navbar a{
        display: block;
        padding: 1.5rem;
    }
   
    .header .logo-section .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .footer .grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-self: center;
    }
}
@media (max-width:480px){/*tablet*/
    html{
        font-size: 45%;
    }
}